/* #root{
    background-color: white;
} */

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.page {
    background-color: grey;
    color:black
}

.pageisCurrent {
    background-color: rgb(39, 39, 214);
    color: white;
}

.button {
    background-color: grey;
    color: black;
}

.buttonIsHidden {
    visibility: hidden;
}