.option {
  background-color: rgb(219, 47, 47);
  color:black;
}

/* .checked {
  background-color: rgb(90, 21, 90);
  color: white;
} */

.space{
  color: white;
}


.checkboxContainer{
  /* grid-auto-flow: column; */
  justify-content: flex-start;
  /* flex-direction: column; */
  /* height: 100%; */
  /* width: 100%; */
  margin-left: 10px;
  margin-right: 10px;
}

.checkboxElement{
  display: inline;
  margin: 2px;
  /* align-content: flex-start; */
  /* flex-direction: row; */
}

.formField {
  margin-top: 5%;
  margin-bottom: 5px;
  margin-left: 14%;
  margin-right: 14%;
  /* width: 620px; */
  /* height: 700px; */
  border: solid;
  border-color: white; 
  grid-auto-rows: auto;
  align-items: flex-start;
  /* align-content: flex-start; */
}

.input{
  border-radius: 5px;
  padding: 10px;
  margin-left: 1px;
}

.label{
  /* display: flex; */
  margin-left: 5px;
  margin-right: 5px;
  display: block;
}
