.option {
  background-color: rgb(219, 47, 47);
  color:black;
}

/* .checked {
  background-color: rgb(90, 21, 90);
  color: white;
} */

.space{
  color: white;
}

.checkboxContainer{
  /* grid-auto-flow: column; */
  justify-content: flex-start;
  /* flex-direction: column; */
  /* height: 100%; */
  /* width: 100%; */
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-around;
}

.checkboxElement{
  display: inline;
  margin: 2px;
  /* align-content: flex-start; */
  border-radius: 50px;
  /* flex-direction: row; */
  justify-content: flex-start;
}


.formField {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 14%;
  margin-right: 14%;
  /* width: 620px; */
  /* height: 700px; */
  border: solid;
  border-color: rgb(85, 7, 80); 
  grid-auto-rows: auto;
  align-items: flex-start;
  box-shadow: 2px 4px 10px 4px rgb(85, 7, 80);
  /* align-content: flex-start; */
}

.input{
  border-radius: 5px;
  padding: 10px;
  /* margin: 20px; */
  width: 300px;
}

.inputDescription{
  border-radius: 5px;
  border: solid;
  border-color: black;
  font-family: sans-serif;
  /* margin: 20px; */
  width: 300px;
  height: 100px;
}

.label{
  /* display: flex; */
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  background-color: rgb(85, 7, 80);
  border-radius: 5px;
}

.checkbox {
  display: none;
}

.checkbox + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid rgb(252, 252, 252);
  border-radius: 50px;
  vertical-align: middle;
  text-align: center;
}

.checkbox:checked + label:before {
  background-color: rgb(85, 7, 85);
  box-shadow: 2px 4px 10px 4px rgb(80, 7, 75);
}

.button{
  padding: 5px;
  width: 120px;
  height: 60px;
  margin: 20px;
  background-color: rgb(85, 7, 85);
  color: white;
  border-radius: 10%;
  cursor: pointer
}

.button:hover{
    background-color: white;
    color: rgb(85, 7, 85);
    box-shadow: 2px 4px 10px 4px rgb(85, 7, 85);
}

.buttonHidden {
  visibility: hidden;
}

.inputArea {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-around;
}

.firstColumn{
  display: flex;
  flex-direction: column;
}

.custom-input-file {
  background-color:rgb(85, 7, 85);
  color: #fff;
  cursor: pointer;
  /* font-size: 18px; */
  /* font-weight: bold; */
  /* margin: 0 auto 0; */
  height: 25px;
  /* overflow: hidden; */
  /* padding: 10px; */
  /* position: relative; */
  /* text-align: center; */
  width: 300px;
}

.custom-input-file .input-file {
 border: 118px solid transparent;
 cursor: pointer;
 /* width: 300px; */
 font-size: 196px;
 margin: 0;
 opacity: 0;
 /* outline: 0 none; */
 padding: 0;
 position: absolute;
 left: 641px;
 right: 642px;
 height: 236px;
 /* top: -1000px; */
}

.image{
  width: 299px;
  height: 210px;
  object-fit: cover;
}