.Pagination {
    display: inline;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
 }

.button{
background-color: grey;
display: inline;
flex-direction: row;
justify-content: flex-start;
}

.buttonIsHidden {
    visibility: hidden;
    display: inline;
    flex-direction: row;
}

.page:hover{
    background-color: white;
}

.page{
    border-radius: 20px;
    padding: 5px;
    flex-direction: row;
    display: inline;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}

.pageisCurrent {
    border-radius: 20px;
    background-size: auto auto;
    padding: 5px;
    background-color: rgb(85, 7, 85);
    color: white;
    cursor: auto;
    list-style:none;
    display: inline;
} 
