.label{
    color: white;
    margin: 10px;
}
    .box{
        width:90%;
        max-width:300px;
    }
    .search{
        margin-left: 5px;
        margin-right: 5px;
        display:grid;
        grid-template-columns:1fr 40px;
        border:1px solid rgb(85, 7, 85);
    }
    
    .search-input{
        width:100%;
        padding:.8em;
        border:none;
        outline:none;
    
    }
    .search-button{
        display:flex;
        align-items:center;
        justify-content:center;
        background:rgb(85, 7, 85);
        cursor:pointer;
        border:none;
        outline:none;
    }
    .search-button svg{
        --size:18px;
        width:var(--size);
        height:var(--size);
        fill:white;
        border: hidden;
    }

    .content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
    display: inline;
}

.content-select{
	max-width: 250px;
    flex-direction: row;
	position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
 
.content-select select{
	display: inline;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 35px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: black;
	color: white;
	font-size: 15px;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgb(85, 7, 85);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: rgb(85, 7, 85);
}
 
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: inline;
	border-left:4px solid rgb(85, 7, 85);
	border-bottom:4px solid rgb(85, 7, 85);
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}

.filterContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.create{
    margin-left: 20px;
    padding: 10px;
    background-color: rgb(85, 7, 85);
    color: white;
    border-radius: 10%;
    cursor: pointer
}
.create:hover {
    background-color: white;
    color: black;
}

